.App {
  font-family: sans-serif;
  text-align: center;
  margin: auto;
}

form {
  position: relative;
  z-index: 1;
  background: #ffffff;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 1.5rem;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 0.8rem;
  border-radius: 0.25rem;
}

form input[type="submit"] {
  text-transform: uppercase;
  outline: 0;
  background: #9877a9;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 0.8rem;
  transition: all 0.5 ease;
  cursor: pointer;
  border-radius: 0.25rem;
  font-weight: 600;
}

form input[type="submit"]:hover {
  background: #7d5d8e;
}

form + div > a {
  color: #9877a9;
  text-decoration: none;
}

table {
  border: 0px solid #ddd;
  border-collapse: collapse;
}
tr:nth-child(odd) {
  background-color: #f9f9f9;
  border: none;
}
th {
  color: white;
  background-color: teal;
  border: none;
  border-radius: 0;
  padding: 0.3rem 0.7rem;
}
td {
  padding: 0.3rem 0.7rem;
}
td a {
  color: #4caf50;
  text-decoration: none;
}

td a :hover {
  cursor: pointer;
}

button {
  background: rgb(234, 234, 234);
  color: rgb(0, 0, 0);
  padding: 8px 12px;
  border: 0px;
  margin: 5px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 30px;
}

button:disabled {
  background: #9877a9;
  color: rgb(255, 255, 255);
  cursor: no-drop;
}

.logoutBtn {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0px;
}
